@import url('http://fonts.cdnfonts.com/css/flufflemufflehand');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans+SC&family=Rubik+Mono+One&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    overflow: hidden;
}
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;
    width: 101%;
    height: 78px;
    text-align: center;
    z-index: 5;
    top: 0;
    width: 101%;
    height: 90px;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
}
#navbar .logo img {
    height: 80px;
}
#navbar .content div {
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 15px; right: 30px;
    padding-left: 60px;
    text-align: center;
    font-size: 8px;
}
#navbar .content div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#navbar .content h1.active {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 98px;
 }
 #main {
     display: flex;
     margin-top: 100px;
 }
 #main #list {
     display: inline-table;
     position: relative;
     text-align: center;
     width: 100px; height: 100%;
     border-radius: 5px;
     left: 16px; top: 6px;
 }
#main #list div {
     margin: 20px 20px 15px 20px;
     height: 64px; width: 64px;
     border-radius: 50%;
     background-color: white;
     cursor: pointer;
 }
#main #list .active img{
    position: relative;
    width: 80px; height: 80px;
    border-radius: 50%;
    object-fit: fill;
    transform: translate(-10%,-10%);
 }
#card {
    margin: 0 0 0 180px;
    height: auto; width: 100%;
    overflow: hidden;
}
 .backbg {
     position: absolute;
     height: 450px; width: 290px;
     margin: 10px 0 0 20px;
     border-radius: 20px;
     cursor: pointer;
 }
 .backbg img {
     position: absolute;
     height: 450px; width: 290px;
     border-radius: 20px;
     object-fit: cover;
     z-index: 2;
     filter: drop-shadow(2px 3px 8px black);
 }
 .frontbg {
     position: absolute;
     height: 450px; width: 290px;
     background-color: #13285eb9;
     border-radius: 20px;
     z-index: 2;
 }
 .frontbg img {
     position: absolute;
     transform: translate(-100px,110px);
     height: 400px; width: auto;
     filter: drop-shadow(12px 10px 8px rgba(0, 0, 0, 0.880));
 }
 .frontbg #name {
     position: absolute;
     margin: 10px 0 0 10px;
     color: white; font-family: Agency FB;
     font-size: 36px; font-weight: 550;
 }
 .frontbg #realName {
     position: absolute;
     margin: 60px 0 0 40px;
     font-size: 16px;
     color: white; font-family: Leelawadee UI;
 }
 
#hidsec {
    position: absolute;
    height: 450px; width: 340px;
    margin: 10px 0 0 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    transition: all 0.6s ease-in-out;
}
#top {
    position: absolute;
    top: 170px; left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; font-weight: 800;
    transform: rotate(-90deg);
    color: #202020;
    text-shadow: 2px 6px 5px rgba(0, 0, 0, 0.432);
}
 #CardfrontView {
     position: absolute;
     right: 0; top: 0;
     height: 450px; width: 260px;
     background-color: rgb(87, 4, 87);
     border-radius: 20px;
     overflow: hidden;
     z-index: -1;
 }
 #cardImg {
     width: 300px; height: 270px;
 }
 #cardContent
 {
     position: absolute;
     z-index: 1;
     right: -20px ;top: 0px;
     border-radius: 10px;
     width: 250px; height: 200px;
     background-color: #47474756;
     transform: skew(3deg,-12deg);
     box-shadow: -10px 0 36px black;
     box-sizing: border-box;
     color: rgba(255, 255, 255, 0.471);
     font-family: 'Acme', sans-serif;
     padding: 2px 30px 0 10px;
     transition: all 0.5s ease-in-out;
 }
 #cardContent h1 {
     font-size: 16px;
 }
 #trumpFile {
     margin-top: -10px;
    font-size: 10px;
 }
 #cardContent:hover {
     background-color: #202020;
     color: rgba(255, 255, 255, 0.750);
 }
 #skills {
     position: absolute;
     bottom: 0;
     background-image: url('cardBackImg.jpg');
     background-position: center;
     background-size: cover;
     border-top: 8px solid rgb(167, 10, 10);
     height: 180px; width: 300px;
     box-shadow: inset 2px 0 200px hsl(0, 0%, 13%);
     z-index: 1;
 }
 #skills div {
     margin: 10px 2px 5px 8px ;
     display: inline-block;
     height: 70px; width: 70px;
     border-radius: 8px;
     background-color: rgb(0, 0, 0);
     color: white; text-align: center;
     box-shadow: 8px 0 2px rgb(17, 46, 177);
     transition: all 0.4s ease-in-out;
 }
 #type:hover {
     background-color: #fff;
     color: black;
 }
 #rate1, #rate2, #rate3, #rate4, #rate5, #rate6 {
     margin-top: 10px;
     font-size: 24px; font-weight: 800;
     color: red;
     text-shadow: 1px 0 1px white,0 1px 1px white;
 }
 #type {
     width: 100%; height: 20px;
     padding-top: 8px;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
     margin-top: -20px;
     font-size: 10px; font-weight: 900;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: rgb(27, 123, 207);
     box-shadow: 8px 10px 2px rgba(0, 0, 0, 0.795);
     transition: all 0.5s ease-in-out
 }
 #info {
     position: absolute;
     margin: 10px 0 0 560px;
     height: 450px; width: 630px;
     border-radius: 20px;
     padding-left: 60px;
     background-color: rgb(255, 255, 255);
     text-align: left;
     overflow: hidden;
 }
 #info h1 {
     font-size: 28px;
     text-transform: uppercase;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #info #btn {
     position: absolute;
     bottom: 26px;
     transform: translateX(-50px);
     text-align: center;
     height: 45px; width: 100%;
     background-color: #fff;
 }
 #btn div {
     display: inline-flex;
     justify-content: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: 600; font-size: 12px;
     padding-top: 12px;
     margin-left: 10px;
     width: 120px; height: 30px;
     cursor: pointer;
 }
 #details {
     margin: 20px 0 0 -140px;
     height: 300px; width: 800px;
     overflow: hidden;
 }
#details img {
    height: 300px;
    transform: translateX(40%);
    object-fit: fill;
}
#details #data {
    margin: -400px 0 0 66px;
    height: 490px; width: 350px;
    background-color: #202020;
    transform: rotateZ(-20deg);
    color: white;
}
#data #head {
    position: absolute;
    top: 130px; left: 100px;
    font-size: 28px;
    transform: rotateZ(20deg);
}
#data #para {
    position: absolute;
    transform: rotateZ(20deg);
    top: 210px; left: 60px;
    height: 150px; width: 250px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.action {
    border-bottom: 4px solid black;
}