body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;
    width: 101%;
    height: 78px;
    text-align: center;
    z-index: 1;
    top: 0;
    padding-top: 10px;
    width: 101%; height: 90px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
#navbar .logo img {
    height: 80px;
}
#navbar .content div {
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 15px; right: 30px;
    padding-left: 60px;
    text-align: center;
    font-size: 8px;
}
#navbar .content div a {
    text-decoration: none;
    color: white;
}

#navbar .content h1.active {
    border-bottom: 2px solid white;
    width: 56px;
}
.gameHome {
    margin-top: 50px;
}
.gameHome div {
    display: inline-block;
    margin: 50px 0 50px 95px;
    height: 500px; width: 320px;
    border-radius: 16px;
    background-color: rgba(46, 30, 30, 0.15);
    box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.29);
}
.gameHome #all a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px; font-weight: 600;
}
.gameHome .poster {
    position: absolute;
    border-radius: 16px;
    backface-visibility: hidden;
    transition: all 0.6s ease-in-out;
}
.gameHome .poster img {
    border-radius: 16px;
    height: auto; width: 320px;
}
.gameHome #title {
    position: relative;
    text-align: center;
    top: px;
    font-size: 18px; font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    backface-visibility: hidden;
}
.gameHome .game_Details:hover .poster {
    transform: translate(0,-500%);
}
.game_Details{
    text-align: center;
}
.gameHome .game_Details #logo img {
    height: 80px;
    margin: 10px 0 0 0;
}
.gameHome .game_Details #about {
    margin-top: 40px;
    width: 100%; height: 150px;
    font-size: 14px; color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gameHome .game_Details #dvelopr {
    margin-top: 50px;
    font-size: 20px; font-weight: 500;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gameHome .game_Details #buy button {
    width: 160px; height: 40px;
    font-size: 20px; font-weight: 650;
    color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;
    border: transparent;
    background-color: rgba(255, 255, 255);
    margin-top: 60px;
    cursor: pointer;
    border-radius: 14px;
}