body {
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;
    width: 100%;
    height: 78px;
    text-align: center;
}
.navbar .logo img {
    height: 80px;
}
.navbar .content div {
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 15px; right: 30px;
    padding-left: 60px;
    text-align: center;
    font-size: 8px;
}
.navbar .content div a {
    text-decoration: none;
    color: white;
}
.main {
    margin: 30px 0 30px 0;
    height: 500px; width:auto;
    background-color: rgba(245, 245, 245, 0.192);
    overflow: hidden;
}
.slide{
    display: flex;
    justify-content: center;
    height: 500px; width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.prev, .next {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 60px;
    filter: drop-shadow(-5px 4px 2px rgba(0, 0, 0, 0.452));
}
.slide {
    display: none;
}
.slide:nth-child(1) {
    display: flex;
}
#img {
    height: 500px; width: auto;
}
.slide p {
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(0 0 10px black);
    box-sizing: border-box;
    width: 350px; height: auto;
    right: 700px;bottom: 30px;
}
.slide h1 {
    position: absolute;
    right: 0;bottom: 30px;
    color:whitesmoke;
    font-size: 20px; font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    transform: translateX(100%);
    padding: 20px 10px 20px 10px;
    width: 500px; height: auto;
    box-shadow: -2px 8px 12px rgba(0, 0, 0, 0.726);
    transition: all 0.8s ease-in-out;
}
.slide:hover h1 {
    transform: translateX(10px);
}